html {
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Blur Font */

@font-face {
  font-family: "Blur";
  src: url("assets/fonts/Blur-Light.woff");
  font-weight: light;
}

@font-face {
  font-family: "Blur-Medium";
  src: url("assets/fonts/Blur-Medium.woff");
  font-weight: normal;
}

@font-face {
  font-family: "Blur-Bold";
  src: url("assets/fonts/Blur-Bold.woff");
  font-weight: bold;
}

/* Magda Font */

@font-face {
  font-family: "Magda-Thin";
  src: url("assets/fonts/Magda-Thin.woff");
  font-weight: lighter;
}

@font-face {
  font-family: "Magda-Light";
  src: url("assets/fonts/Magda-Light.woff");
  font-weight: light;
}

@font-face {
  font-family: "Magda";
  src: url("assets/fonts/Magda-Regular.woff");
   font-weight: light;
}

@font-face {
  font-family: "Magda-Cameo";
  src: url("assets/fonts/Magda-Cameo.woff");
  font-weight: normal;
}

@font-face {
  font-family: "Magda-Trash";
  src: url("assets/fonts/Magda-Trash.woff");
  font-weight: normal;
}


body{
  height: 100vh;
  margin: 0;
  font-family: "Magda-Light";
  background-color: black;
  
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 57%, rgba(0, 0, 0, 1) 100%);
}


#home {
  top: 0;
  left: 0;
  margin: 0;
  background-image: url("assets/images/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#bg {
  height: 100vh;
  width: 100vw;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.gradient {
  background: radial-gradient(circle, rgba(34, 25, 42, 0) 17%, rgba(0, 0, 0, 1) 100%);
  background-size: cover;
  margin-top: 0;
}


.navbar{
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6237088585434174) 57%, rgba(0, 0, 0, 1) 100%);
}
.navbar-toggler:focus {
  border: 0 !important;
  box-shadow: none !important;   
}

.navbar-toggler {
   border: 0 !important;
}

.navbar-toggler-icon {
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  background-image:none;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.navbar-toggler-icon:before {
  content:"\f0c9";
  color: #fff;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
  content:"\f00d";
  color: #fff;
}

.navbar-brand {
  font-family: "Blur";
  font-weight: light;
  text-transform: uppercase;
  font-size: 2em;
  filter: blur(0px);
  transition: all 0.5s;
  z-index: 100;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.navbar-brand:hover {
  filter: blur(2px);
  cursor: pointer;
}
.navbar-nav {
  align-items: center;
   margin-top: 15%;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.1em;
  padding: 0.5em 1em;
}
.navbar .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .navbar-nav {
     margin-top: 0;
  }
  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
}
.title {
margin: auto;
width: 40%;
/* padding: 10px; */
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.title svg{
  width: 40%;
    fill: #ffffff;
    stroke: #ffffff;
}
@media screen and (max-width: 800px) {
  .title {
  width: 100%;
     padding-top: 100px;
  }
}


/* ABOUT */

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  overflow: auto;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  opacity: 0;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition: opacity 0.5s ease;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlay p {
  margin: auto;
  /* text-align: left; */
  width: 50%;
  padding: 10px;
  color: #818181;
  font-family: "Magda";
  font-size: 0.9rem;
  /* transition: 0.3s; */
}
.overlay h3{
  font-family: "Blur";
  font-weight: light;
  color: white;
  /* font-size: 1em; */
}

.overlay .closebtn {
  position: absolute;
  top: 18px;
  right: 30px;
  font-size: 1.3em;
  color: white;
   transition: color 0.5s ease;
}
.overlay .closebtn:hover {
   color: #818181;
}

@media screen and (max-width: 800px) {
  .overlay p {
    width: 90%;
}
  .overlay-content {
    top: 15%;
     /* text-align: left; */
  }
}

/* STREAM */

.stream {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition: 0.5s;
}

.stream-content {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.stream-content a {
  text-decoration: none;
color: white;
  display: block;
  transition: 0.3s;
  font-family:"Blur";
  font-size: 1.1em;
  padding: 0.5em 1em;
}

.stream-content a:hover, .stream-content a:focus {
  color: #818181;
}

.stream .closebtn {
  position: absolute;
  top: 18px;
  right: 30px;
  font-size: 1.3em;
  color: white;
   transition: color 0.5s ease;
}
.stream .closebtn:hover {
   color: #818181;
}

/* GALLERY */

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: none;

}

#gallery {
  position: fixed;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition: display 0.5s ease;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: none;
}
#gallery.show {
  display: block;
  opacity: 1;
}

img {
  width: 100%;
}


.masonry {
  column-count: 4;
  column-gap: 16px;
}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
   filter: contrast(100%) grayscale(100%);
}

@media (max-width: 1199px) {
  .masonry {
    column-count: 4;
  }
}

@media (max-width: 991px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .masonry {
    column-count: 1;
  }
}

/* FOOTER */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: 50px; */
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6237088585434174) 57%, rgba(0, 0, 0, 0) 100%);
  color: #f2f2f2;
  /* background-color: green; */
  text-align: center;
  /* mix-blend-mode: screen; */
  /* background-color: rgb(0,0,0); */
  z-index: 100;
}

/* .footer a {
  float: left;
  color: #32ff24;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;

} */

.footer-right {
  float: right;
}

.center {
  margin: auto;
  width: 25%;
  /* border: 3px solid #73AD21; */
  /* background-color: red; */

}

.icon-bar {
  width: 100%;
  padding-bottom: 0.5rem;
  /* background-color: #555; */
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: #ffffff;
  font-size: 1.5em;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  filter: blur(0px);
  transition: all 0.5s;
}

.icon-bar a:hover {
  filter: blur(2px);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .center {
    width: 50%;
  }
}



